<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #container {
      width: 400px;
      height: 400px;
    }
  </style>
</head>
<body>
  <canvas id="container"></canvas>

  <script>
    // 获取Canvas对象
    const myCanvas = document.querySelector('#container')
    const context = myCanvas.getContext('2d')

    // 获取像素比
    var getPixelRatio = function (context) {
      var backingStore = context.backingStorePixelRatio ||
        context.webkitBackingStorePixelRatio ||
        context.mozBackingStorePixelRatio ||
        context.msBackingStorePixelRatio ||
        context.oBackingStorePixelRatio ||
        context.backingStorePixelRatio || 1;
      return (window.devicePixelRatio || 1) / backingStore;
    };
    var ratio = getPixelRatio(context);

    // 要设置canvas的画布大小，使用的是 canvas.width 和 canvas.height；
    // 要设置画布的实际渲染大小，使用的 style 属性或CSS设置的 width 和height，只是简单的对画布进行缩放。
    myCanvas.style.width = myCanvas.width + 'px';
    myCanvas.style.height = myCanvas.height + 'px';
    myCanvas.width = myCanvas.width * ratio;
    myCanvas.height = myCanvas.height * ratio;

    // 绘制文本
    context.scale(ratio, ratio);
    context.font = "18px Georgia";
    context.fillStyle = "#999";
    context.fillText("我是清晰的文字", 50, 50);
  </script>
</body>
</html>